body{
    margin:0px;
    font-family: 'Poppins',sans-serif;
}

section{
    height: 500px;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40Px;
}
p{
    color: dimgray;
    border: 10px;
}
#nugu{
    color:orange;
}
#dream{
    color:aqua;
}
#big{
    color:orangered;
}

.introText{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
}
.introText img{
    width: 100%;
}



.topBanner{
    background-repeat: no-repeat;
    background-image: url("Resources/top-banner.png");
}

.secondBanner{
    background-image: url("Resources/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.linkedInButton{
    text-decoration: none;
    color:whitesmoke;
    font-weight: bolder;
    background-image: linear-gradient(60deg, lightSalmon,tomato);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}
